*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.card{
  border: 1px solid hsla(0, 0%, 80%);
  max-width: 250px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; 
  padding: 25px 15px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
  margin: 10px 0 25px 0;
  border-radius: 5px;
  /* display: inline-block; */
}

.card .card-image{
  width: 80px;
  height: 80px;
  background-color: red;
  border-radius: 50%;
  margin: 10px 0 20px 0;
}

.card .card-text{
  font-size: Arial, sans-serif;
  padding-top: 10px;
}

.card:hover{
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.5);
}

.parent {
  display: inline-block;
  margin: 0 15px;
}

.btn-color{
  background-color: rgb(41, 162, 195);
  color: #ffffff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.student{
  padding: 10px;
  border: 1px solid black;
  max-width: 25%;
  margin-top: 20px;
}

.student p{
  font-size: 24px;
  padding: 10px 0 10px 0;
}